@charset "UTF-8";

@import "~@/assets/styles/common/variables";

$common: $images + "/common";
.participation_winner_detail {
    padding: 0 0 12rem;
    .winnder_announce_list {
        border-top: .1rem solid rgb(240, 240, 240);
        &.single {
            li {
                padding: 1.6rem 3.2rem 1.6rem 1.6rem;
                &::after {
                    display: none;
                }
            }
        }
        li {
            position: relative;
            border-bottom: .1rem solid rgb(240, 240, 240);
            a {
                display: block;
                padding: 1.6rem 3.2rem 1.6rem 1.6rem;
            }
            .title {
                font-weight: bold;
                font-size: 1.6rem;
                .vip {
                    height: 1.4rem;
                    padding: 0 .4rem;
                    background-color: $coral;
                    border-radius: .2rem;
                    font-style: normal;
                    font-size: 1.2rem;
                    color: rgb(255, 255, 255);
                    letter-spacing: 0;
                    vertical-align: middle;
                }
            }
            .date {
                font-size: 1.3rem;
                color: $secondary;
                letter-spacing: 0;
            }
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 1.6rem;
                width: 1.2rem;
                height: 1.2rem;
                margin-top: -.6rem;
                background-image: url("#{$common}/icons_arrow_gray.png");
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: 1.2rem;
                transform: rotate(-90deg);
            }
        }
    }
    .winnder_announce_detail {
        padding: 3.2rem 1.6rem;
    }
}
