@charset "UTF-8";

@import "~@/assets/styles/common/variables";

$common: $images + "/common";
.cash_receipt_apply {
    .title {
        padding: 1.6rem 0 .8rem;
        background-color: rgb(255, 255, 255);
        border-bottom: .1rem solid $lightGray;
        border-radius: .5rem .5rem 0 0;
        text-align: center;
        font-size: 2rem;
        font-weight: normal;
        line-height: 2.8rem;
    }
    .cash_receipt_apply_form {
        padding: 1.6rem;
        background-color: rgb(255, 255, 255);
        box-sizing: border-box;
        .guide {
            padding-bottom: .8rem;
            font-size: 1.4rem;
        }
        .radio_box {
            display: flex;
            padding-top: 2.4rem;
            p {
                width: 50%;
                input {
                    display: none;
                }
                input+label {
                    position: relative;
                    min-width: 6.8rem;
                    font-size: 1.4rem;
                    line-height: 2rem;
                    color: $secondary;
                    cursor: pointer;
                    &::before {
                        content: "";
                        display: inline-block;
                        width: 2rem;
                        height: 2rem;
                        margin-right: .8rem;
                        background-image: url("#{$common}/bg_radio_circle_off.png");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 100%;
                        vertical-align: top;
                    }
                }
                input:checked+label {
                    &::before {
                        background-image: url("#{$common}/bg_radio_circle_on.png");
                    }
                }
            }
        }
        .input_field {
            padding: 1.6rem 0;
            label {
                padding-bottom: .4rem;
                font-size: 1.4rem;
            }
            .input_group {
                .text {
                    height: 4.8rem;
                    border: .1rem solid $lightGray;
                }
            }
        }
    }
    .button {
        display: flex;
        .btn {
            flex: 1;
            display: block;
            box-sizing: border-box;
            height: 5.6rem;
            border-radius: 0 0 0 .5rem;
            font-weight: 700;
            font-size: 1.8rem;
            letter-spacing: -.05rem;
            &:nth-child(2) {
                border-radius: 0 0 .5rem 0;
            }
            &:only-child {
                border-radius: 0 0 .5rem .5rem;
            }
            &.coral {
                border: .1rem solid $coral;
                background-color: $coral;
                color: rgb(255, 255, 255);
            }
            &.gray {
                border: .1rem solid rgb(224, 224, 224);
                background-color: rgb(224, 224, 224);
                color: $primary;
            }
        }
    }
}
