@charset "UTF-8";

@import "~@/assets/styles/common/variables";
.order_consult_sheet_customer {
    .subject {
        margin: 0 0 .8rem;
        font-size: 2.2rem;
        line-height: 3rem;
    }
    .input_field {
        &.line {
            .text {
                height: 4.8rem !important;
                padding: 1.4rem 1.2rem !important;
                border: 0;
                border-bottom: .1rem solid $lightGray;
                &:disabled {
                    color: $primary;
                    opacity: 1;
                    -webkit-text-fill-color: $primary;
                }
            }
        }
        &.phone {
            margin-top: .8rem;
            .btn_group {
                .btn {
                    display: block;
                    box-sizing: border-box;
                    border-radius: .5rem;
                    &.coral_border {
                        border: .1rem solid $coral;
                        color: $coral;
                    }
                    &.gray_border {
                        border: .1rem solid rgb(204, 204, 204);
                        background-color: rgb(255, 255, 255);
                        color: $primary;
                    }
                    span {
                        min-width: 5.8rem;
                        padding: 0 1.5rem;
                        height: 3.8rem;
                        box-sizing: border-box;
                        font-size: 1.5rem;
                        line-height: 3.8rem;
                        vertical-align: top;
                    }
                }
            }
        }
    }
    .complete_msg {
        padding: .8rem 0 .8rem 1.2rem;
        font-size: 1.5rem;
        color: rgb(36, 130, 211);
    }
}
