@charset "UTF-8";

@import "~@/assets/styles/common/variables";
.section_related_prd {
    padding: 0 0 3.2rem;
    border-top: .8rem solid rgb(240, 240, 240);
    .recommend_slide_area  {
        padding: 3.2rem 0 2rem;
        h3 {
            padding: 0 1.6rem;
            font-size: 2rem;
            line-height: 2.8rem;
        }
    }
    .swiper_product {
        overflow: hidden;
        z-index: 10;
        background-color: rgb(255, 255, 255);
        margin-top: 2rem;
        padding: 0 1.6rem;
        .swiper-slide {
            width: 16rem;
            a {
                display: block;
                text-decoration: none;
                white-space: normal;
                figure {
                    position: relative;
                    width: 16rem;
                    height: 16rem;
                    img {
                        width: 100%;
                        border-radius: .5rem;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: .5rem;
                        background-color: rgba(0, 0, 0, .03);
                    }
                }
                .price_product {
                    display: flex;
                    align-items: flex-end;
                    flex-wrap: wrap;
                    padding-top: .8rem;
                    .price_counsel {
                        flex: 0 0 100%;
                        font-size: 1.4rem;
                        padding-top: .4rem;
                        line-height: 2rem;
                        color: $primary;
                    }
                    .price_month {
                        font-size: 1.4rem;
                        font-weight: normal;
                        padding-right: .4rem;
                        color: $primary;
                    }
                    .price_current {
                        display: flex;
                        align-items: flex-end;
                        height: 2.4rem;
                        padding-right: .4rem;
                        font-size: 2rem;
                        color: $primary;
                    }
                    .price_unit {
                        font-size: 1.7rem;
                        font-weight: normal;
                    }
                    .price_sale {
                        padding-right: .4rem;
                        font-size: 1.4rem;
                        color: $coral;
                    }
                    .price_base {
                        font-size: 1.4rem;
                        color: rgb(177, 177, 177);
                    }
                }
                .title {

                    @include line-clamp(2);
                    width: 13.6rem;
                    padding-top: .8rem;
                    font-size: 1.4rem;
                    line-height: 2rem;
                    letter-spacing: 0;
                }
            }
        }
    }
}
