@charset "UTF-8";

@import "~@/assets/styles/common/variables";

$common: $images + "/common";
.cust_center_faq {
    padding: 1.6rem 1.6rem 12rem;
    box-sizing: border-box;
    .search_wrap {
        .search_input {
            display: flex;
            align-items: center;
            background-color: rgb(240, 240, 240);
            overflow: hidden;
            border-radius: 2.8rem;
            padding: 0 1.6rem;
            height: 4.8rem;
            background-image: url("#{$common}/icons_searchLink.png");
            background-repeat: no-repeat;
            background-position: right 1.6rem center;
            background-size: 3.2rem;
            &>span {
                color: rgb(170, 170, 170);
                line-height: 24rem;
            }
        }
    }
    .faq_categoies {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2.4rem;
        li {
            margin: 0 .5rem .5rem 0;
        }
        .btn {
            display: flex;
            align-items: center;
            height: 4.4rem;
            padding: 0 2rem;
            border: .1rem solid rgb(204, 204, 204);
            border-radius: 2.2rem;
            box-sizing: border-box;
            font-size: 1.3rem;
            &.active {
                background-color: $primary;
                border-color: $primary;
                color: rgb(255, 255, 255);
            }
        }
    }
    .faq_list {
        margin: 3.5rem -1.6rem 0;
        border-top: .1rem solid $lightGray;
        li {
            border-bottom: .1rem solid $lightGray;
        }
        dl {
            overflow: hidden;
            &>* {
                line-height: 2.4rem;
            }
            &.active {
                .question {
                    &::after {
                        transform: rotate(180deg);
                    }
                }
                .answer {
                    display: block;
                    .table {
                        width: 100%;
                    }
                }
            }
        }
        .question {
            position: relative;
            width: 100%;
            padding: 1.6rem 4rem 1.5rem 4rem;
            box-sizing: border-box;
            white-space: normal;
            text-align: left;
            font-size: 1.6rem;
            line-height: 2.4rem;
            &::before {
                content: "Q.";
                position: absolute;
                top: 1.6rem;
                left: 1.6rem;
                font-size: 1.8rem;
                font-weight: bold;
                line-height: 2.4rem;
                color: $coral;
            }
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: .8rem;
                width: 2.4rem;
                height: 2.4rem;
                margin-top: -1.2rem;
                background-image: url("#{$common}/icons_arrow_gray.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 1.2rem;
            }
        }
        .answer {
            display: none;
            position: relative;
            padding: 1.6rem 1.6rem 3.2rem 4rem;
            box-sizing: border-box;
            border-top: .1rem solid $lightGray;
            background-color: rgb(247, 247, 247);
            &>* {
                line-height: 2.4rem;
            }
            &::before {
                content: "A.";
                position: absolute;
                top: 1.6rem;
                left: 1.6rem;
                font-size: 1.8rem;
                font-weight: bold;
                line-height: 2.4rem;
                color: $primary;
            }
            table {
                width: 100%;
            }
        }
    }
}
