@charset "UTF-8";

@import "~@/assets/styles/common/variables";
.cust_center_board_inquiry_detail {
    overflow: hidden;
    padding-bottom: 12rem;
    .counsel_wrap {
        .item {
            padding: 1.6rem;
            border-bottom: 1.6rem solid rgb(247, 247, 247);
            box-sizing: border-box;
        }
    }
    .product_info {
        display: flex;
        flex-wrap: wrap;
        figure {
            width: 7.2rem;
            height: 7.2rem;
            margin-right: 1.2rem;
            img {
                width: 100%;
                border-radius: .5rem;
            }
        }
        .subject {
            flex: 1;
        }
        .category {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .sort {
                font-size: 1.4rem;
                line-height: 2rem;
            }
            .sort_detail {
                margin-left: .6rem;
                font-size: 1.4rem;
                line-height: 2rem;
                color: $secondary;
            }
            .date {
                margin-left: auto;
                color: $secondary;
                font-size: 1.3rem;
                line-height: 1.9rem;
            }
        }
        .title {

            @include line-clamp(2);
            height: 4.8rem;
            margin-top: .4rem;
            line-height: 2.4rem;
        }
    }
    .user_write {
        padding: 0 1.6rem;
        box-sizing: border-box;
        .title {
            padding: 1.6rem 0;
            border-bottom: .1rem solid rgb(240, 240, 240);
            box-sizing: border-box;
        }
        .write {
            padding: 1.6rem 0 3.2rem;
            &>* {
                word-break: break-all;
            }
            .textarea {
                border: none;
                padding: 0;
                textarea {
                    font-size: 1.6rem;
                }
            }
            img {
                width: 11.2rem;
                height: 11.2rem;
                margin-top: 1.2rem;
            }
        }
    }
    .ns_answer {
        padding: 1.6rem;
        border: .1rem solid rgb(240, 240, 240);
        border-width: .1rem 0;
        box-sizing: border-box;
        .state {
            width: 7.2rem;
            height: 2.4rem;
            margin-right: 1.2rem;
            border: .1rem solid $coral;
            border-radius: 1.2rem;
            color: $coral;
            font-size: 1.3rem;
            line-height: 2.2rem;
            text-align: center;
            box-sizing: border-box;
            &.standby {
                border-color: $secondary;
                color: $secondary;
            }
            &.complete {
                border-color: $primary;
                color: $primary;
            }
        }
        p {
            margin-top: .8rem;
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }
    .btn_delete {
        width: calc(100% - 3.2rem);
        height: 4.8rem;
        margin: 1.6rem;
        border: .1rem solid rgb(224, 224, 224);
        border-radius: .5rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}
