@charset "UTF-8";

@import "~@/assets/styles/common/variables";

$mypage: $images + "/mypage";
.ns_pay_register {
    min-height: calc(100vh - 112px);
    padding: 3.2rem 1.6rem;
    background-color: rgb(247, 247, 247);
    .nspay_type {
        li {
            position: relative;
            margin-bottom: .4rem;
            background-color: rgb(255, 255, 255);
            border: .1rem solid $lightGray;
            border-radius: .5rem;
            button {
                position: relative;
                width: 100%;
                padding: 2rem 0;
                text-indent: 6rem;
                text-align: left;
                font-size: 1.6rem;
                line-height: 2.4rem;
                &::before {
                    content: "";
                    position: absolute;
                    top: calc(50% - 1.2rem);
                    right: 1.6rem;
                    width: 2.3rem;
                    height: 2.3rem;
                    margin: 0 auto .8rem;
                    border: .1rem solid $secondary;
                    border-radius: 2.5rem;
                    pointer-events: none;
                }
            }
            &::before {
                content: "";
                position: absolute;
                top: calc(50% - .5rem);
                right: 2.8rem;
                height: 1.1rem;
                border-right: .1rem solid $secondary;
                pointer-events: none;
            }
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 2.3rem;
                width: 1.1rem;
                border-bottom: .1rem solid $secondary;
                pointer-events: none;
            }
            &.card {
                background-image: url("#{$mypage}/icons_card.png");
                background-repeat: no-repeat;
                background-position: left 1.6rem center;
                background-size: 3.2rem;
            }
            &.account {
                background-image: url("#{$mypage}/icons_orderlist.png");
                background-repeat: no-repeat;
                background-position: left 1.6rem center;
                background-size: 3.2rem;
            }
        }
    }
}
