@charset "UTF-8";

@import "~@/assets/styles/common/variables";

$common: $images + "/common";
.home_thing_live_slot {
    .thing_live {
        padding: 1.6rem;
        border-bottom: .1rem solid rgb(240, 240, 240);
        .live_title {
            padding-bottom: .8rem;
            font-weight: bold;
            font-size: 2rem;
        }
        .img_box {
            position: relative;
            figure {
                position: relative;
                line-height: 0;
                img {
                    width: 100%;
                    border-radius: .5rem;
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: .5rem;
                    background-color: rgba(0, 0, 0, .03);
                }
            }
            .live {
                position: absolute;
                top: .8rem;
                left: .8rem;
                height: 1.6rem;
                padding-right: .5rem;
                background-color: rgb(255, 255, 255);
                border-radius: 1.6rem;
                font-size: 1.2rem;
                line-height: 1.6rem;
                letter-spacing: 0;
                .icons_live {
                    display: inline-block;
                    width: 3.2rem;
                    height: 1.6rem;
                    background-image: url("#{$common}/icons_live.png");
                    background-repeat: no-repeat;
                    background-position: 0 center;
                    background-size: 100%;
                    margin-right: .2rem;
                    vertical-align: top;
                }
                span {
                    margin-right: .2rem;
                    padding: 0 .6rem;
                    background-color: $baseRed;
                    border-radius: 1.6rem;
                    font-size: 1rem;
                    color: rgb(255, 255, 255);
                    letter-spacing: 0;
                }
            }
        }
        .title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: .8rem 0;
            font-size: 1.7rem;
            line-height: 2rem;
            color: $primary;
            letter-spacing: 0;
        }
    }
}
