@charset "UTF-8";

@import "~@/assets/styles/common/variables";
.thinglive_banner {
    .swiper_banner {
        padding: 1.6rem 1.6rem 3.6rem 1.6rem;
        box-sizing: border-box;
        figure {
            position: relative;
            line-height: 0;
            img {
                width: 100%;
                border-radius: .5rem;
            }
        }
        .swiper-pagination {
            bottom: 1.6rem;
            line-height: .5rem;
            .swiper-pagination-bullet {
                width: .5rem;
                height: .5rem;
                margin: 0 .2rem;
                background-color: rgb(224, 224, 224);
                opacity: 1;
                vertical-align: top;
                &.swiper-pagination-bullet-active {
                    background-color: $primary;
                }
            }
        }
    }
}
