@charset "UTF-8";

@import "~@/assets/styles/common/variables";

$common: $images + "/common";
.nstalk_wrap {
    background-color: rgb(240, 240, 240);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    .nstalk {
        padding: 1.6rem 1.6rem 8rem;
        box-sizing: border-box;
        .item {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            &+.item {
                margin-top: 1.2rem;
            }
            &.host_talk {
                .talk_box {
                    strong {
                        color: $mint;
                    }
                }
            }
            &.my_talk {
                .talk_box {
                    border-color: $coral;
                    strong {
                        color: $coral;
                    }
                }
            }
            &.host_reply {
                .text {
                    font-size: 1.4rem;
                    line-height: 2rem;
                    color: $secondary;
                }
                .talk_reply {
                    margin-top: .8rem;
                    padding-top: .8rem;
                    border-top: .1rem solid $lightGray;
                }
            }
            .talk_box {
                min-width: 19.2rem;
                max-width: calc(100% - 7.4rem);
                padding: 1.2rem;
                background-color: rgb(255, 255, 255);
                border: .1rem solid $lightGray;
                border-radius: .5rem;
                font-size: 1.4rem;
                line-height: 2rem;
                .label {
                    display: inline-block;
                    height: 1.8rem;
                    margin-right: .6rem;
                    padding: 0 .4rem;
                    border: .1rem solid currentColor;
                    border-radius: 1rem;
                    color: $coral;
                    font-size: 1.1rem;
                    line-height: 1.8rem;
                }
                .icons_speaker {
                    display: inline-block;
                    width: 2.4rem;
                    height: 2.4rem;
                    background-image: url("#{$common}/icons_speaker_on_mint.png");
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    background-size: 100%;
                    vertical-align: top;
                    margin-right: .4rem;
                }
                p {
                    font-size: 1.4rem;
                    line-height: 2rem;
                    letter-spacing: 0;
                    color: rgb(32, 32, 32);
                    word-break: break-all;
                }
                strong {
                    display: inline-block;
                    margin-bottom: .4rem;
                    font-size: 1.4rem;
                    line-height: 2.4rem;
                    letter-spacing: 0;
                    color: rgb(32, 32, 32);
                    &>span {
                        font-weight: normal;
                    }
                }
            }
            .time {
                margin-left: .8rem;
                font-size: 1.4rem;
                line-height: 2.4rem;
                color: $secondary;
            }
        }
    }
    .nstalk_input {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        border-top: .1rem solid $lightGray;
        padding: .8rem 1.2rem;
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
        box-sizing: border-box;
        z-index: 500;
    }
    .talk_write {
        display: flex;
        align-items: center;
        min-height: 4.8rem;
        border: .1rem solid $lightGray;
        border-radius: 2.4rem;
        box-sizing: border-box;
        .text {
            flex: 1;
            width: 100%;
            max-height: 2.4rem;
            padding: 0 1.6rem;
            border: none;
            background-color: transparent;
            box-sizing: border-box;
            line-height: 2.4rem;
            outline: none;
            &::-webkit-input-placeholder {
                font-size: 1.4rem;
                line-height: 2.4rem;
                color: rgb(170, 170, 170);
            }
        }
        .button_send {
            display: block;
            padding: 1.1rem 1.6rem;
            margin-left: auto;
            font-size: 1.4rem;
            font-weight: bold;
            line-height: 2.4rem;
            color: $secondary;
            &.active {
                color: $coral;
            }
        }
    }
}
