@charset "UTF-8";

@import "~@/assets/styles/common/variables";

$common: $images + "/common";
.product_layer {
    position: fixed;
    top: 4.8rem;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 500;
    padding-top: 56%;
    .title_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 5.7rem;
        background-color: rgb(255, 255, 255);
        border-bottom: .1rem solid rgb(204, 204, 204);
        box-sizing: border-box;
        .title {
            font-size: 1.8rem;
        }
        .num {
            color: $coral;
        }
        .btn_close {
            position: absolute;
            top: 50%;
            right: .8rem;
            width: 3.2rem;
            height: 3.2rem;
            margin-top: -1.6rem;
            background-image: url("#{$common}/icons_close.png");
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 100%;
            font-size: 0;
        }
    }
    .product_list {
        overflow-y: auto;
        max-height: calc(100% - 5.7rem);
        background-color: rgb(255, 255, 255);
        .item {
            position: relative;
            padding: 1.6rem;
            border-bottom: .1rem solid rgb(240, 240, 240);
            box-sizing: border-box;
            a,
            .row {
                display: flex;
                flex-wrap: wrap;
            }
        }
        figure {
            flex: 1;
            position: relative;
            width: 11.2rem;
            height: 11.2rem;
            margin-right: 1.2rem;
            line-height: 0;
            img {
                width: 100%;
                border-radius: .5rem;
            }
            .nodata {
                position: relative;
                padding: 14rem 0 5rem;
                background-image: url("#{$common}/icons_nodata.png");
                background-repeat: no-repeat;
                background-position: top 4.4rem center;
                background-size: 8rem;
                font-size: 1.8rem;
                text-align: center;
                color: rgb(177, 177, 177);
                letter-spacing: 0;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: .5rem;
                background-color: rgba(0, 0, 0, .03);
            }
        }
        .price_title {
            width: calc(100% - 12.4rem);
            .price_product {
                display: flex;
                align-items: flex-end;
                flex-wrap: wrap;
                .price_counsel {
                    flex: 0 0 100%;
                    font-size: 1.6rem;
                    font-weight: bold;
                    line-height: 2.6rem;
                    color: $primary;
                }
                .price_month {
                    font-size: 1.4rem;
                    font-weight: normal;
                    padding-right: .4rem;
                    color: $primary;
                }
                .price_current {
                    display: flex;
                    align-items: flex-end;
                    height: 2.6rem;
                    padding-right: .4rem;
                    font-size: 2.2rem;
                    color: $primary;

                    @media (max-width: 320px) {
                        flex: 0 0 100%;
                    }
                }
                .price_unit {
                    font-size: 1.8rem;
                    font-weight: normal;
                }
                .price_sale {
                    padding-right: .2rem;
                    font-size: 1.4rem;
                    color: $coral;

                    @media (max-width: 320px) {
                        display: block;
                        &>* {
                            line-height: 1.6rem;
                        }
                    }
                }
                .price_base {
                    font-size: 1.4rem;
                    color: rgb(177, 177, 177);
                }
            }
            a {
                display: block;
            }
        }
        .title {

            @include line-clamp(2);
            padding: .6rem 0 0;
            font-size: 1.4rem;
            line-height: 2rem;
            color: $primary;
        }
        .btn_buy {
            position: absolute;
            bottom: 1.6rem;
            right: 1.6rem;
            width: 9.8rem;
            height: 3.2rem;
            border: .1rem solid $coral;
            border-radius: .4rem;
            color: $coral;
            box-sizing: border-box;
            &>span {
                font-size: 1.4rem;
                font-weight: 500;
            }
        }
    }
}
