@charset "UTF-8";

@import "~@/assets/styles/common/variables";
.cart_list {
    .cart_wrap {
        background-color: rgb(240, 240, 240);
        .buy_box {
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 1;
            display: flex;
            width: 100%;
            height: 5.7rem;
            border-top: .1rem solid rgb(225, 225, 225);
            padding-bottom: constant(safe-area-inset-bottom);
            padding-bottom: env(safe-area-inset-bottom);
            background-color: rgb(255, 255, 255);
            p {
                padding: 0 2.4rem;
                background-color: rgb(255, 255, 255);
                font-size: 1.6rem;
                line-height: 5.7rem;
                strong {
                    padding-left: .2rem;
                    font-size: 2rem;
                    color: rgb(34, 34, 34);
                }
                span {
                    padding-left: .2rem;
                    font-size: 1.7rem;
                }
            }
            button {
                flex: 1;
                background-color: $coral;
                font-weight: bold;
                font-size: 1.8rem;
                color: rgb(255, 255, 255);
            }
        }
    }
    .cart_empty_box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 73px);
        .cart_empty {
            padding: 17rem 0;
            text-align: center;
            letter-spacing: 0;
            .guide {
                font-size: 1.8rem;
                .title {
                    font-size: 1.8rem;
                }
                .summary {
                    padding-top: .3rem;
                    font-size: 1.6rem;
                    color: rgb(177, 177, 177);
                }
            }
            .button {
                width: 17.6rem;
                margin: 0 auto;
                .btn {
                    display: block;
                    box-sizing: border-box;
                    border-radius: .5rem;
                    width: 100%;
                    &.coral {
                        margin-top: .8rem;
                        border: .1rem solid $coral;
                        background-color: $coral;
                        color: rgb(255, 255, 255);
                    }
                    &.coral_border {
                        margin-top: 3.2rem;
                        border: .1rem solid $coral;
                        color: $coral;
                    }
                    span {
                        min-width: 5.8rem;
                        height: 4.6rem;
                        box-sizing: border-box;
                        font-size: 1.8rem;
                        font-weight: bold;
                        line-height: 4.6rem;
                        vertical-align: top;
                    }
                }
            }
        }
    }
}
