@charset "UTF-8";

@import "~@/assets/styles/common/variables";

$common: $images + "/common";
.popup_share {
    background-color: rgb(255, 255, 255);
    border-radius: .5rem;
    .popup_share_title {
        padding-top: 2.4rem;
        font-size: 2rem;
        color: $primary;
        line-height: 2.8rem;
        text-align: center;
    }
    .popup_share_list {
        display: flex;
        margin-top: 2.4rem;
        justify-content: center;
        li {
            margin: 0 1.2rem;
            a {
                display: block;
                font-size: 1.4rem;
                line-height: 1.9rem;
            }
        }
        .icons_kakao {
            display: block;
            width: 4.8rem;
            height: 4.8rem;
            margin: 0 auto .6rem;
            background-image: url("#{$common}/sns/icons_kakao.png");
            background-repeat: no-repeat;
            background-position: 0 center;
            background-size: 100%;
        }
        .icons_facebook {
            display: block;
            width: 4.8rem;
            height: 4.8rem;
            margin: 0 auto .6rem;
            background-image: url("#{$common}/sns/icons_facebook.png");
            background-repeat: no-repeat;
            background-position: 0 center;
            background-size: 100%;
        }
        .icons_sms {
            display: block;
            width: 4.8rem;
            height: 4.8rem;
            margin: 0 auto .6rem;
            background-image: url("#{$common}/sns/icons_sms.png");
            background-repeat: no-repeat;
            background-position: 0 center;
            background-size: 100%;
        }
    }
    .popup_share_path {
        margin: 5.6rem 1.6rem 2.4rem;
        border: .1rem solid rgb(231, 231, 231);
        background-color: rgb(247, 247, 247);
        box-sizing: border-box;
        a {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            height: 4rem;
            font-size: 1.3rem;
            line-height: 4rem;
            text-align: left;
            .url {
                overflow: hidden;
                flex: 1;
                height: 4rem;
                padding-left: .8rem;
                box-sizing: border-box;
                color: rgb(36, 130, 211);
                word-break: break-all;
            }
            .copy {
                padding: 0 1.2rem;
                border-left: .1rem solid rgb(231, 231, 231);
                background-color: rgb(255, 255, 255);
                box-sizing: border-box;
                text-align: center;
                vertical-align: top;
                color: $primary;
            }
        }
    }
    .btn_cancel {
        width: 100%;
        height: 5.6rem;
        background-color: rgb(224, 224, 224);
        border-radius: 0 0 .5rem .5rem;
        font-size: 1.8rem;
        font-weight: bold;
        color: $primary;
    }
}
